/* Customers preferred font-family*/
@import url(//db.onlinewebfonts.com/c/d61f92ac75a45d13545d15d0cf2e4d67?family=Bernard+MT+Std);
@font-face {
	font-family: "Bernard MT Std";
	src: url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.eot");
	src: url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.svg#Bernard MT Std")
			format("svg");
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* General styles */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Bernard MT Std";
	letter-spacing: 1px;
}

.m-top10 {
	margin-top: 10px;
}

/* Styles for main content */
.hero {
	background-image: url("assets/däck\ 1\ \(1\).JPG");
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
}

.header {
	height: 100%;
	text-align: center;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 100%;
	display: flex;
	align-items: start;
}

.logo img {
	height: 100px;
	width: 100px;
	padding: 10px;
}

.headerTitle {
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 130px;
	width: 250px;
	border-radius: 15px;
	font-size: 18px;
}

.readMore {
	font-size: 18px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 15px;
	margin-bottom: 10px;
}

main {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.imageBackground {
	margin-top: 20px;
}

.imageBackground img {
	height: auto;
	max-width: 100%;
}

.info {
	font-size: 18px;
	font-family: "Lato", sans-serif;
	margin: 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.link {
	text-decoration: underline;
	color: black;
}

.link:hover {
	color: rgba(0, 0, 0, 0.6);
}

footer {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 15px;
}

footer b {
	font-size: large;
}

footer .link {
	color: white;
}

footer .link:hover {
	color: rgba(255, 255, 255, 0.7);
}

.footerInfo {
	padding: 5px;
}

@media screen and (min-width: 800px) {
	.logo img {
		height: 150px;
		width: 150px;
	}
	.headerTitle {
		font-size: 22px;
	}
	.readMore {
		font-size: 22px;
	}
	main {
		width: 100%;
		margin-bottom: -6px;
	}
	.infoContainer:nth-child(even) {
		flex-direction: column;
		margin-top: -5px;
	}
	.imageBackground {
		max-width: 80%;
		margin-top: 0px;
	}
	.textHolder {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.info {
		padding: 15px;
		width: 50%;
		margin: 0px;
		text-align: left;
	}
	.wide {
		width: 100%;
	}
	footer {
		flex-direction: row;
		justify-content: space-evenly;
	}
}

@media screen and (min-width: 1030px) {
	.infoContainer {
		flex-direction: row;
	}
	.infoContainer:nth-child(even) {
		flex-direction: row-reverse;
	}
	.imageBackground {
		max-width: 50%;
	}
	.info {
		padding: 10px;
	}
	.textHolder {
		width: 50%;
	}
	.wide {
		width: 50%;
	}
}

@media screen and (min-width: 1170px) {
	.textHolder {
		flex-direction: column;
	}
}
