/* Customers preferred font-family*/
@import url(//db.onlinewebfonts.com/c/d61f92ac75a45d13545d15d0cf2e4d67?family=Bernard+MT+Std);
@font-face {font-family: "Bernard MT Std"; src: url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.eot"); src: url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.woff") format("woff"), url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d61f92ac75a45d13545d15d0cf2e4d67.svg#Bernard MT Std") format("svg"); } 

/* General styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

/* Styles for main content */
.hero {
    background-image: url("assets/däck\ 1\ \(1\).JPG");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.header {
    height: 100%;
    font-family: "Bernard MT Std";
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
    display: flex;
    align-items: start;
}

.logo img {
    height: 100px;
    width: 100px;
    padding: 10px;
}

.readMore {
    font-size: 1.5em;
    padding: 10px;
}